@import "tailwindcss";

@theme {
  --color-primary: #257cff;
  --color-secondary: #ffffff;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
